.env
compose.yml
database-edit.ts
database.d.ts
login.sh
mnt.sh
restart.sh
tsconfig.sh
watch.sh
*.sh
register.swift
schema.graphql
script.js
tsconfig.json

# directories
chroma/
chroma/*
models/
models/*
node_modules/
node_modules/*
remix/
remix/*
summary/*
summary/
types/
types/*